.nowrap-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.log-row .ant-table-cell {
  white-space: nowrap;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
